* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

.days-mask {
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    opacity: 0.7;



}

#days-title {
    text-shadow: 0 0 5px;
    font-size: 35px;
    margin: 50px 0;
    text-transform: uppercase;
    color: white;
    text-align: center;
}

h1 {

    color: white;
    text-align: center;
}

.days-section {

    width: 100vw;
    z-index: 1;
    position: relative;
    background-image: url(./img/days-bg.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/*ESSE ARROMBADO DO WIDTH FUDEU TUDO PQ TAVA EM 800PX*/
.container-days {
  
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: center;
    width: 100%;
    margin-bottom: 80px;
    
}


.container-days ul {
    text-shadow: 2px 3px 1px black;
    border: 2px solid red;
    box-shadow: 0 0 10px red;
    border-radius: 10px;
    padding: 15px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 550px;
    background-color: rgba(0, 0, 0, 0.5);
}



.container-days .morning {


    border-radius: 10px;

}

.morning h2 {
    color: red;
    text-shadow: 2px 2px 5px black;
}

.container-days .night {
    margin: 5px 0;
    padding: 10px;
    border-radius: 10px;

}

.night h2 {
    color: red;
}

.container-days .info-day {
    border: 2px solid red;
    border-radius: 10px;
    box-shadow: 0 0 5px red;
    padding: 10px;
    margin-top: 15px;
}

.kids-week h2 {
    color: red;
}

.dayBtn {
    cursor: pointer;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
    background-color: red;
    border-radius: 15px;
    width: 80%;
    margin-top: 20px;
    height: 40px;
    border: 2px solid red;
    box-shadow: 0 0 5px red;
}

#marcar-treino {

    z-index: 1;
    top: 10%;
    left: -340px;
    background-color: rgb(34, 34, 34);
    position: fixed;
    gap: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content: end;
    width: 350px;
}



@media screen and (min-width: 0px) and (max-width : 850px) {

    .container-days {
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;

    }


    .container-days ul {

        width: 550px;

    }

    .kidsDays ul {

        height: 350px;
    }


}

@media screen and (min-width: 0px) and (max-width : 600px) {

    .container-days ul {

        width: 400px;

    }

    #fale-conosco {

        width: 300px;
    }
}

@media screen and (min-width: 0px) and (max-width : 470px) {

    .container-days ul {

        width: 320px;

    }


}

